{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<body>
    <div class="container">
        <div class="tutor col-xl-12">
            <h2 class="texttutor text-black-50 mt-5 text-center">
                ติวเตอร์ภาษาต่างประเทศ
            </h2>
            <h5 class="text-black-50 mt-3 text-center">
                กำลังมองหาติวเตอร์สอนพิเศษออนไลน์อยู่ใช่ไหม ทดลองใช้ T-LANGUAGE ดูสิ
            </h5>
        </div>
    </div>

    <!-- filter -->

    <form method="GET" action=".">
        <div class="container">
            <div class="filter row bg-white d-flex justify-content-center pt-3 pb-3 mt-3 mb-5">
                <div class="col-lg-2">
                    <div class="form-group">
                        <h6 class="text-black-50">
                            ฉันต้องการเรียน
                        </h6>
                        <select class="form-select form-control" name="language" id="language">       
                            <option selected disabled>ภาษา...</option>
                            <option value="ภาษาอังกฤษ">ภาษาอังกฤษ</option>
                            <option value="ภาษาจีน">ภาษาจีน</option>
                            <option value="ภาษาเกาหลี">ภาษาเกาหลี</option>
                            <option value="ภาษาญี่ปุ่น">ภาษาญี่ปุ่น</option>
                            <option value="ภาษาเยอรมัน">ภาษาเยอรมัน</option>
                        </select>
                    </div>
                </div>
    
                <div class="col-lg-2 mt-lg-0 mt-sm-1">
                    <div class="form-group">
                        <h6 class="text-black-50">
                            เพศ
                        </h6>
                        <select class="form-select form-control" name="sex" id="sex">
                            <option selected disabled>เพศ...</option>
                            <option value="ชาย">ชาย</option>
                            <option value="หญิง">หญิง</option>
                            <!-- <option value="เพศทางเลือก">เพศทางเลือก</option> -->
                        </select>
                    </div>
                </div>

                <div class="col-lg-2 mt-lg-0 mt-sm-2">
                    <div class="form-group">
                        <h6 class="text-black-50">
                            ราคาไม่เกิน
                        </h6>
                        <input type="number" class="form-control" min=0 id="price" name="price">
                    </div>
                </div>
    
                <div class="col-lg-2 mt-lg-0 mt-sm-2">
                    <div class="form-group">
                        <h6 class="text-black-50">
                            คะแนนไม่ต่ำกว่า
                        </h6>
                        <input type="number" class="form-control" min=0 max="5" id="rating" name="rating">
                    </div>
                </div>
    
                <div class="submitFILTER col-lg-1 mt-lg-0 mt-sm-3 align-self-end">
                    <div class="text-center">
                        <button type="submit" class="btn btn-secondary btn-lg">Search</button>
                    </div>             
                </div>
            </div>
        </div>
    </form>
        {% for c in course %}
        {% if c.user.approve %}
        <div class="container">
            <div class="tutor row bg-white mb-5 pt-5 pb-5 mt-3">
                <div class="col-lg-3 d-flex justify-content-center">
                    <div class="img-tutor">
                        <img src="{{ c.user.photo.url }}" class="imgsrc-tutor rounded-circle" width="200" height="200">
                    </div>
                </div>
    
                <div class="Exdata col-lg-6 mt-lg-0 mt-sm-4 justify-content-start align-self-center">
                    <div class="d-flex ms-lg-0 ms-sm-4" style="align-items: center; margin-bottom: 12px;">
                        <h3 style="margin: 0;">
                            {{c.user.name}} {{c.user.surname}}
                        </h3>
                        <i class="bi bi-star-fill ms-5 bd-highlight text-black-50">{{ c.courseRating }}</i>&nbsp
                        <i class="bi bi-person-fill bd-highlight text-black-50">{{ c.courseCount }}</i>
                    </div>
    
                    <div class="d-flex mt-2 ms-lg-0 ms-sm-4">
                        <h5 class="d-flex">
                            ภาษา :&nbsp<h5 class="text-black-50">{{ c.language }}</h5>
                        </h5>
                        <h5 class="ms-5">
                            เพศ :&nbsp<h5 class="text-black-50">{{ c.user.sex }}</h5>
                        </h5>
                    </div>
    
                    <div class="d-flex mt-2 ms-lg-0 ms-sm-4">
                        <h5>
                            คำอธิบายเกี่ยวกับคอร์ส
                        </h5>
                    </div>
                    
                    <div class="d-flex ms-lg-0 ms-sm-4">             
                        <h5 class="text-black-50">
                            {{ c.courseDesc }}
                        </h5>        
                    </div>
                       
                </div>
    
                <div class="col-lg-3 mt-lg-0 mt-sm-2 d-flex justify-content-center align-self-center">
                    <div>
                        <a href="{% url 'tutor-data' c.id %}"><button class="btn btn-outline-dark btn-lg" type="submit">ดูข้อมูลเพิ่มเติม</button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
     
</body>
{% endblock content%}