{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<body>

    <!-- Form1 -->

    <div class="container">
        <div class="Secform1 row bg-white mt-5 justify-content-center" method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form1 col-xl-12">            
                <input type="text" class="form-control" placeholder="ชื่อจริง" name="name">
                <input type="text" class="form-control" placeholder="นามสกุล" name="surname">
                <input type="text" class="form-control" placeholder="ชื่อเล่น" name="nickname">
                <input type="tel" class="form-control" maxlength="10" placeholder="เบอร์โทรศัพท์" name="tel">
            </div>

            <div class="sex col-xl-12 width-95">
                <select class="form-select" name="sex">
                    <option selected disabled>เพศ</option>
                    <option value="Male">ชาย</option>
                    <option value="Female">หญิง</option>
                    <option value="LGBTQ">เพศทางเลือก</option>
                </select>
            </div>

            <div class="fileIDCard col-xl-12 input-group">
                <label class="input-group-text text-black-50 bg-white" for="inputGroupFile01">รูปโปรไฟล์</label>
                <input class="form-control form-control-lg text-black-50" name="picupload" id="picupload" type="file">
            </div>

            <div class="col-xl-3 mt-3">
                <button type="submit" class="submit form-control btn-secondary btn-lg">สมัครสมาชิก</button>
            </div>
        </div>
    </div>   
</body>
{% endblock content%}