{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<body class="body-TUTOR">

    <!-- Register -->

    <div class="container">
        <div class="SecregisterTUTOR row bg-white">
            <div class="register col-xl-6 col-md-12">
                <div class="picregisterTUTOR text-center">
                    <img src="{% static '/pic/register-tutor.svg' %}" class="mw-100" alt="">
                </div>
            </div>

            <div class="vertical-line col-sm-0 col-xl-1"></div>

            <div class="register-TUTOR col-xl-6 col-md-12">
                <h2 class="textregisterTUTOR text-center">
                    สมัครสมาชิกเป็น<span>ติวเตอร์</span>
                </h2>

                <p>กรุณาลงทะเบียนด้านล่าง</p>

                {% for message in messages %}
                <h4 class="text-center alert alert-danger">{{ message }}</h4>
                {% endfor %}

                <form class="form-registerTUTOR" method="POST">
                    {% csrf_token %}
                    <input type="text" class="username form-control" placeholder="ชื่อผู้ใช้" name="username">
                    <input type="email" class="e-mail form-control" placeholder="อีเมล" name="email">
                    <input type="password" class="password form-control" placeholder="รหัสผ่าน" name="password">
                    <button type="submit" class="submit form-control btn-secondary mb-sm-5 mb-xl-0">สมัครสมาชิก</button>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock content%}