{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<body>

    <!-- Number Form -->

    <div class="col-xl-10 ms-auto">
        <div class="container">
            <div class="row xl-10 ms-auto mt-3">
                <div class="col-sm-1 text-center">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-info"></i>
                        <strong class="fa-stack-1x text-black-50">1</strong>
                    </span>
                    <p class="h6 text-black-50 mt-2">ทั่วไป</p>
                </div>

                <div class="col-sm-1">
                    <hr class="bg-danger border-4 border-top border-dark">
                </div>
                
                <div class="col-sm-1 text-center">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <strong class="fa-stack-1x text-light">2</strong>
                    </span>
                    <p class="h6 text-white-50 mt-2">ประวัติการศึกษา</p>
                </div>

                <div class="col-sm-1">
                    <hr class="bg-danger border-4 border-top border-dark">
                </div>
                
                <div class="col-sm-1 text-center">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <strong class="fa-stack-1x text-light">3</strong>
                    </span>
                    <p class="h6 text-white-50 mt-2">การสอน</p>
                </div>

                <div class="col-sm-1">
                    <hr class="bg-danger border-4 border-top border-dark">
                </div>
                
                <div class="col-sm-1 text-center">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <strong class="fa-stack-1x text-light">4</strong>
                    </span>
                    <p class="h6 text-white-50 mt-2">ตารางเวลา</p>
                </div>

                <div class="col-sm-1">
                    <hr class="bg-danger border-4 border-top border-dark">
                </div>
                
                <div class="col-sm-1 text-center">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <strong class="fa-stack-1x text-light">5</strong>
                    </span>
                    <p class="h6 text-white-50 mt-2">เกี่ยวกับฉัน</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Form1 -->

    <div class="container">
        <div class="Secform1 row bg-white mt-2">
            <div class="form1 col-xl-12">            
                <input type="text" class="form-control" placeholder="ชื่อจริง">
                <input type="text" class="form-control" placeholder="นามสกุล">
                <input type="text" class="form-control" placeholder="ชื่อเล่น">
                <input type="text" class="form-control" placeholder="เพศตามบัตรประชาชน">
                <input type="text" class="form-control" placeholder="วันเกิด">
                <input type="text" class="form-control" placeholder="เบอร์โทรศัพท์">
            </div>

            <div class="fileIDCard col-xl-12 input-group">
                <label class="input-group-text text-black-50 bg-white" for="inputGroupFile01">รูปบัตรประชาชน</label>
                <input class="form-control form-control-lg text-black-50" id="formFileLg" type="file">
            </div>

            <!-- ButtonGoNextGGoBack -->
            
            <div class="gonextForm1 col-xl-12">
                <a href="/tutor-form2"><button type="button" class="btn btn-block btn-lg btn-secondary text-white">ถัดไป</button></a>
            </div>
        </div>
    </div>   
</body>
{% endblock content%}