{% extends 'app/base.html' %}
{% block content %}
{% load static %}

{% for c in course %}

<body>
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-3 mb-lg-0 mb-sm-3 d-flex justify-content-center">
                <div class="img-tutor-data">
                    <img src="{{ c.user.photo.url }}" class="rounded-circle" width="200" height="200">
                </div>
            </div>

            <div class="col-lg-9 justify-content-start align-self-center">
                <div class="d-flex">
                    <h3>
                        {{ c.user.name }} {{ c.user.surname }} ({{ c.user.nickname }})
                    </h3>
                </div>

                <div class="d-flex mt-2">
                    <h5 class="text-black-50">
                        ภาษา : {{ c.language }}
                    </h5>
                    <h5 class="ms-5 text-black-50">
                        เพศ : {{ c.user.sex }}
                    </h5>
                </div>

                <div class="d-flex mt-2">
                    <div>
                        <button type="button" class="btn btn-outline-dark btn-lg" data-bs-toggle="modal"
                            data-bs-target="#contact">ติดต่อติวเตอร์</button></a>
                    </div>
                </div>

                <div class="d-flex mt-3">
                    <h5 class="text-danger">
                        **กรุณาสอบถามติวเตอร์ผ่านช่องทางการติดต่อ เพื่อตกลงเวลาเรียน ก่อนจองคอร์ส**
                    </h5>
                </div>

                <!-- Modal -->

                <div class="modal fade" id="contact" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">ช่องทางการติดต่อ</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p><i class="bi bi-line fs-4"></i>&nbsp Line ID : {{ c.introduceTutor.line }}</p>
                                <p><i class="bi bi-facebook fs-4"></i>&nbsp Facebook : {{ c.introduceTutor.facebook }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About -->

    <div class="bg-color-tutordata">
        <div class="container">
            <div class="tutor-data row bg-white mt-5 pt-4 pb-4 ps-5 pe-5">
                <div class="col-lg-12 justify-content-start">
                    <h5>
                        เกี่ยวกับติวเตอร์
                    </h5>
                </div>

                <div class="col-lg-12 justify-content-start mt-3">
                    <h5 class="text-black-50">
                        {{ c.introduceTutor.introduce }}
                    </h5>
                </div>
            </div>

            <!-- Education -->

            <div class="tutor-data row bg-white mt-5 pt-4 pb-4 ps-5 pe-5">
                <div class="col-12 justify-content-start">
                    <h5>
                        การศึกษา
                    </h5>
                </div>

                <div class="col-2 justify-content-start mt-3">
                    <h5 class="text-black-50">
                        {{ c.education.universityYear }}
                    </h5>
                </div>
                <div class="col-10 justify-content-start mt-3">
                    <h5 class="text-black-50 ms-5">
                        {{ c.education.university }} <br> {{ c.education.faculty }}
                    </h5>
                </div>

                <div class="col-2 justify-content-start mt-3">
                    <h5 class="text-black-50">
                        {{ c.education.schoolYear }}
                    </h5>
                </div>
                <div class="col-10 justify-content-start mt-3">
                    <h5 class="text-black-50 ms-5">
                        {{ c.education.school }} <br> {{ c.education.schoolProgram }}
                    </h5>
                </div>
            </div>

            <!-- Course -->

            <div class="tutor-data row bg-white mt-5 pt-4 pb-3 ps-5 pe-5 table-responsive">
                <table class="table table-borderless">
                    <thead>
                        <tr class="fs-5 align-middle">
                            <th scope="col" class="fw-normal">คอร์ส</th>
                            <th scope="col" class="fw-normal">เวลาเรียน (ต่อคอร์ส)</th>
                            <th scope="col" class="fw-normal">วัน-เวลา</th>
                            <th scope="col" class="fw-normal">ค่าสอนรวม</th>
                            <th scope="col" class="fw-normal"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="fs-6 align-middle">
                            <td>{{ c.courseTitle }} <br> <p class="text-black-50">{{ c.courseDesc }}</p></td>
                            <td>{{ c.courseHours }} ชั่วโมง</td>
                            <td>{{ c.courseDay }} / {{ c.courseTime }}</td>
                            <td>{{ c.coursePrice }} บาท</td>
                            {% if user.profile.userType == 'student' %}
                            <td><a href="{% url 'addCourseStudent' c.id %}"><button class="btn btn-outline-secondary btn-lg"
                                type="submit">จองคอร์ส</button></a></td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Video -->

            <div class="tutor-data row bg-white mt-5 mb-5 pt-4 pb-4 ps-5 pe-5">
                <div class="col-lg-12 justify-content-start">
                    <h5>
                        วิดีโอตัวอย่างการสอน
                    </h5>
                </div>

                <div class="col-12 text-center mt-3">
                    <video class="box" width="70%" controls>
                        <source src="{{ c.introduceTutor.video.url }}" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>

</body>
{% endfor %}
{% endblock content%}