{% extends 'app/base.html' %}
{% block content %}
{% load static %}

<body>

    <!-- Number Form -->

    <div class="col-xl-10 ms-auto">
        <div class="container">
            <div class="row xl-10 ms-auto mt-3">
                <div class="col-sm-1 text-center">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-info"></i>
                        <strong class="fa-stack-1x text-black-50">1</strong>
                    </span>
                    <p class="h6 text-black-50 mt-2">ทั่วไป</p>
                </div>

                <div class="col-sm-1">
                    <hr class="bg-danger border-4 border-top border-dark">
                </div>

                <div class="col-sm-1 text-center">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-info"></i>
                        <strong class="fa-stack-1x text-black-50">2</strong>
                    </span>
                    <p class="h6 text-black-50 mt-2">ประวัติการศึกษา</p>
                </div>

                <div class="col-sm-1">
                    <hr class="bg-danger border-4 border-top border-dark">
                </div>

                <div class="col-sm-1 text-center">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-info"></i>
                        <strong class="fa-stack-1x text-black-50">3</strong>
                    </span>
                    <p class="h6 text-black-50 mt-2">การสอน</p>
                </div>

                <div class="col-sm-1">
                    <hr class="bg-danger border-4 border-top border-dark">
                </div>

                <div class="col-sm-1 text-center">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-info"></i>
                        <strong class="fa-stack-1x text-black-50">4</strong>
                    </span>
                    <p class="h6 text-black-50 mt-2">ตารางเวลา</p>
                </div>

                <div class="col-sm-1">
                    <hr class="bg-danger border-4 border-top border-dark">
                </div>

                <div class="col-sm-1 text-center">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-info"></i>
                        <strong class="fa-stack-1x text-black-50">5</strong>
                    </span>
                    <p class="h6 text-black-50 mt-2">เกี่ยวกับฉัน</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Form5 -->

    <div class="container">
        <div class="Secform1 row bg-white mt-2">
            <div class="form5-left col-md-5">
                <div class="file-pic">
                    <div class="mb-3 text-center text-black-50">
                        <h5>เลือกรูปโปรไฟล์ของคุณ</h5>
                    </div>
                    <div class="mb-4 text-center">
                        <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                        class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar">
                    </div>
                    
                    <div class="input-file-pic w-75">
                        <input class="form-control" type="file" id="formFile">
                    </div>       
                </div>            
            </div>

            <div class="form5-right col-md-7">
                <div class="about-me">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="เกี่ยวกับฉัน"></textarea>
                </div>

                <div class="input-video-test text-black-50">
                    <h6>วิดีโอตัวอย่างการสอน</h6>
                    <input class="form-control" type="file" id="formFile">
                </div>
            </div>


            <!-- ButtonGoNextGGoBack -->

            <div class="row">
                <div class="gobackForm5 col-xl-6 col-md-2">
                    <a href="/tutor-form4"><button type="button"
                            class="btn btn-block btn-lg btn-secondary text-white">ก่อนหน้า</button></a>
                </div>
    
                <div class="gonextForm5 col-xl-6 col-md-2">
                    <a href="#"><button type="button"
                            class="btn btn-block btn-lg btn-secondary text-white">ถัดไป</button></a>
                </div>
            </div>
            

        </div>
    </div>
</body>
{% endblock content%}