asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
cloudinary==1.29.0
colorama==0.4.4
distlib==0.3.4
dj-database-url==0.5.0
dj-static==0.0.6
dj-static-revision==0.4
Django==3.2.8
django-cloudinary-storage==0.3.0
dulwich==0.19.16
filelock==3.4.2
Flask==2.1.1
gunicorn==20.1.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
Pillow==9.0.1
platformdirs==2.4.1
psycopg2==2.9.3
python-magic==0.4.25
pytz==2022.1
requests==2.27.1
single-version==1.5.1
six==1.16.0
sqlparse==0.4.2
static-ranges==0.2.0
static3==0.7.0
tzdata==2022.1
urllib3==1.26.9
virtualenv==20.13.0
Werkzeug==2.1.1
whitenoise==6.0.0
